.current-country
    padding: 5px 25px
    width: 90%
    margin: 0 auto
    min-height: 80vh
    background: rgba(79, 89, 81, 0.858)
    backdrop-filter: blur(5px)

    .country__params
        color: white
            
        .param-unit
            color: black

    .content
        display: flex
        justify-content: space-between

        .left-side
            width: 55%

            .border-link
                all: unset
                cursor: pointer
                
                &:hover
                    color: purple

            .flags
                margin-top: 10px
                display: flex
                justify-content: space-between
                height: 25vh

                .flag
                    height: 100%

                    img
                        height: 100%
                        width: 100%

                .coat-of-arms
                    height: 100%

                    img
                        height: 100%
                        width: 100%
        .right-side
            width: 43%
            background: gray
