.countries
    width: 90%
    margin: 0 auto
    padding-top: 15px

    h2
        margin-top: 0
    
.app
    background-image: url("./map13.jpg")
    background-attachment: fixed
    min-height: 100vh
    background-size: cover
    

    .app_filter
        backdrop-filter: blur(4px)

    
