.country-list
    display: flex
    flex-wrap: wrap
    justify-content: space-evenly

.search
    width: 75vw
    margin: 0 auto

    input
        border: 1.5px solid rgb(26, 26, 26)
        width: 100%
        color: white
        font-size: 18px
        padding: 10px 15px
        border-top-right-radius: 10px
        border-top-left-radius: 10px
        background-color: rgba(102, 100, 95, 0.913)

        &:hover
            background-color: rgba(124, 113, 86, 0.913)

        &:focus, &:hover
            outline: none

        &::placeholder
            color: white
            font-size: 18px


    

