@media(max-width: 1299px)
    .drop-menu
        display: block
        position: fixed
        z-index: 10
        top: 0
        left: 0
        

        .drop-menu__switcher
            cursor: pointer
            position: absolute
            z-index: 12
            top: 15px
            left: 15px

        .menu 
            transform: translate(-100%)
            transition: .35s
            padding-top: 50px
            z-index: 11
            width: 50vw
            height: 100vh
            position: absolute
            left: 0
            top: 0
            background-color: rgba(87, 93, 101, 0.8)
            backdrop-filter: blur(10px)
            border-top-right-radius: 55px
            border-bottom-right-radius: 55px

    
              

        

            .drop-menu__item 
                margin-top: 50px
                font-size: 32px
                background-color: rgb(163, 163, 130)
                text-align: center
                border: 2 px solid rgb(0, 0, 0)

                
                
        
    
            

                a
                    text-decoration: none
                    color: black
                    

                    &:hover
                color: purple
                

@media(min-width: 1300px)
    .drop-menu
        display: none
        
            