 @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: black;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

*::selection{
  background-color: rgba(137, 43, 226, 0.472);
}