.country
    background-color: AliceBlue
    width: 30%
    border: 2px solid orange
    border-radius: 20px
    margin: 10px
    

    .country__name
        color: LightBlue
        margin: 5px
        text-align: center

    .country__flag
        width: 90%
        aspect-ratio: 5/3
        margin: 0 auto
        img
            width: 100%
            height: 100%
    
    .timezones
        display: flex
        flex-wrap: wrap
        justify-content: start
        color: LightCyan
    
    .population
        color: LightCyan
    
    .languages
        color: LightCyan

    .capital
        color: LightCyan  

    .status
        color: LightCyan

    .region
        color: LightCyan

    .startOfWeek
        color: LightCyan  

    p
        padding-left: 5%


